<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{listID}}</ion-title>
  </ion-navbar>
    <!--<ion-searchbar
      [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()">
    </ion-searchbar>-->
</ion-header>

<ion-content>
    <!--<div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>-->
    <!--<ion-list [virtualScroll]="films" approxItemHeight="50px">
        <ion-item *virtualItem="#film">
            <h2>{{film.title}}</h2>
        </ion-item>
    </ion-list>

 <ion-infinite-scroll (infinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>-->
    
    <div class="lista">
        <div class="similar" *ngFor="let film of films">
            <div>
                <img (click)="goToFicha(film.id, film.imdb_id)" src={{film.poster_path}}>
            </div>
        </div>
    </div>
</ion-content>
