<!--<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>-->

<ion-content>
    <!--<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button class="btnderecho" (click)="OpenPage(BuscadorPage)">
        <ion-icon name="search"></ion-icon>
        </button>-->
    
    <ion-slides id="playing" spaceBetween="6" pager>
        <ion-slide>
            <div *ngFor="let playing of filmsPlaying; let i = index">
                <div class="nowplaying">
                    <p *ngIf="i < 1">{{playing.title}}</p>
                </div>
                <img *ngIf="i < 1" src="{{playing.poster_path}}" (click)="goToFicha(playing.id, playing.imdb_id)">
            </div>
        </ion-slide>
        <ion-slide>
            <div id="playing" *ngFor="let playing of filmsPlaying | slice:1:2 ; let i = index">
                <div class="nowplaying">
                    <p *ngIf="i < 2">{{playing.title}}</p>
                </div>
                <img *ngIf="i < 2" src="{{playing.poster_path}}" (click)="goToFicha(playing.id, playing.imdb_id)">
            </div>
        </ion-slide>
        <ion-slide>
            <div id="playing" *ngFor="let playing of filmsPlaying | slice:2:3 ; let i = index">
                <div class="nowplaying">
                    <p *ngIf="i < 3">{{playing.title}}</p>
                </div>
                <img *ngIf="i < 3" src="{{playing.poster_path}}" (click)="goToFicha(playing.id, playing.imdb_id)">
            </div>
        </ion-slide>
        <ion-slide>
            <div id="playing" *ngFor="let playing of filmsPlaying | slice:3:4 ; let i = index">
                <div class="nowplaying">
                    <p *ngIf="i < 4">{{playing.title}}</p>
                </div>
                <img *ngIf="i < 4" src="{{playing.poster_path}}" (click)="goToFicha(playing.id, playing.imdb_id)">
            </div>
        </ion-slide>
        <ion-slide>
            <div id="playing" *ngFor="let playing of filmsPlaying | slice:4:5 ; let i = index">
                <div class="nowplaying">
                    <p *ngIf="i < 5">{{playing.title}}</p>
                </div>
                <img *ngIf="i < 5" src="{{playing.poster_path}}" (click)="goToFicha(playing.id, playing.imdb_id)">
            </div>
        </ion-slide>
        <ion-slide>
            <div id="playing" *ngFor="let playing of filmsPlaying | slice:5:6 ; let i = index">
                <div class="nowplaying">
                    <p *ngIf="i < 6">{{playing.title}}</p>
                </div>
                <img *ngIf="i < 6" src="{{playing.poster_path}}" (click)="goToFicha(playing.id, playing.imdb_id)">
            </div>
        </ion-slide>
    </ion-slides>

    <div class="informacion">
    <div class="linea">
        <h3>Up coming</h3>
        <div (click)="goToVerTodos('upcoming')">
            <p>See all</p>
            <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
    </div>
    
    <ion-slides spaceBetween="3" pager>
        <ion-slide>
            <div class="similar" *ngFor="let coming of filmsComing; let i = index">
            <div *ngIf="i < 3">
                <img (click)="goToFicha(coming.id, coming.imdb_id)" src={{coming.poster_path}}>
            </div>
        </div>
        </ion-slide>
        <ion-slide>
            <div class="similar" *ngFor="let coming of filmsComing | slice:3:6 ; let i = index">
            <div *ngIf="i < 6">
                <img (click)="goToFicha(coming.id, coming.imdb_id)" src={{coming.poster_path}}>
            </div>
        </div>
        </ion-slide>
        <ion-slide>
            <div class="similar" *ngFor="let coming of filmsComing | slice:6:9 ; let i = index">
            <div *ngIf="i < 9">
                <img (click)="goToFicha(coming.id, coming.imdb_id)" src={{coming.poster_path}}>
            </div>
        </div>
        </ion-slide>
    </ion-slides>
    
    <div class="linea">
        <h3>Top Rated</h3>
        <div (click)="goToVerTodos('top_rated')">
            <p>See all</p>
            <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
    </div>
    
    <ion-slides spaceBetween="3" pager>
        <ion-slide>
            <div class="similar" *ngFor="let rated of filmsRated; let i = index">
            <div *ngIf="i < 3">
                <img (click)="goToFicha(rated.id, rated.imdb_id)" src={{rated.poster_path}}>
            </div>
        </div>
        </ion-slide>
        <ion-slide>
            <div class="similar" *ngFor="let rated of filmsRated | slice:3:6 ; let i = index">
            <div *ngIf="i < 6">
                <img (click)="goToFicha(rated.id, rated.imdb_id)" src={{rated.poster_path}}>
            </div>
        </div>
        </ion-slide>
        <ion-slide>
            <div class="similar" *ngFor="let rated of filmsRated | slice:6:9 ; let i = index">
            <div *ngIf="i < 9">
                <img (click)="goToFicha(rated.id, rated.imdb_id)" src={{rated.poster_path}}>
            </div>
        </div>
        </ion-slide>
    </ion-slides>
    
    <div class="linea">
        <h3>Popular</h3>
        <div (click)="goToVerTodos('popular')">
            <p>See all</p>
            <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
    </div>
    
    <ion-slides spaceBetween="3" pager>
        <ion-slide>
            <div class="similar" *ngFor="let popular of filmsPopular; let i = index">
            <div *ngIf="i < 3">
                <img (click)="goToFicha(popular.id, popular.imdb_id)" src={{popular.poster_path}}>
            </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="similar" *ngFor="let popular of filmsPopular | slice:3:6 ; let i = index">
            <div *ngIf="i < 6">
                <img (click)="goToFicha(popular.id, popular.imdb_id)" src={{popular.poster_path}}>
            </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="similar" *ngFor="let popular of filmsPopular | slice:6:9 ; let i = index">
            <div *ngIf="i < 9">
                <img (click)="goToFicha(popular.id, popular.imdb_id)" src={{popular.poster_path}}>
            </div>
            </div>
        </ion-slide>
    </ion-slides>
    
    </div>
</ion-content>
