@font-face {
    font-family: Roboto-Light;
    src: url('../assets/fonts/roboto-light.ttf') format('ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../assets/fonts/roboto-regular.ttf') format('ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../assets/fonts/roboto-medium.ttf') format('ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../assets/fonts/roboto-bold.ttf') format('ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p, h1, h2, h3 {
    margin: 0; 
}

h1 {
    line-height: 0.8;
    color: #f3f3f3;
    font-size: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: Roboto-Bold;
}

p, h2, .toolbar-title-ios {
    color: #f3f3f3;
}

p {
    font-family: Roboto-Regular;
}

h2 {
    font-size: 20px;
    font-family: Roboto-Medium;
}

h3 {
    color: #3c444b;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Roboto-Bold;
}

ion-img {
    background: none;
}

ion-slide div {
    display: inline-block;
}

ion-app.ios [padding], ion-app.ios [padding] .scroll-content {
    padding: 0;
}

ion-slide .similar {
    padding-top: 20px;
}

ion-slides, .slide-zoom, .swiper-container {
    height: 244px;
}

ion-input {
    border-radius: 8px;
    padding: 0 8px;
    color: #f3f3f3;
    border: 1px solid #f3f3f3;
}

iframe {
    width: 100%;
    padding: 20px 0;
}

ion-slides ion-slide h3 {
    display: inline-block;
}

.cabecera {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.genero {
    margin: 5px 10px 5px 0;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 24px;
    background-color: #3c444b;
}

.genero p {
    font-size: 12px;
    font-family: Roboto-Medium;
}

.datos div {
    display: inline-block;
}

.listagenero {
    position: absolute;
    width: 100%;
    background-color: rgba(27,33,40,0.2)
}

.listagenero h1 {
    padding: 90px 20px;
}

.listagenero div {
    height: 200px;
}

.fondoImagen {
    width: 100%;
    height: 200px;
}

.poster {
    padding-right: 20px;
    display: inline-block;
    //padding-right: 20px;
    //z-index: 0;
    //position: absolute;
}

.poster ion-img {
    width: 100px;
    height: 165px;
}

.titulo {
    padding-bottom: 4px;
}

.titular {
    width: 80%;
    display: inline-block;
}

.titulo h2, .titulo h3, .datos p, .sipnosis p  {
    display: inline-block;
}

.titulo h2 {
    padding-right: 8px;
}

.datos p:nth-child(2) {
    padding: 0 8px;
}

.datos ion-icon {
    color: #cdb900;
    margin-right: -4px;
}

.sipnosis {
    padding: 16px 0;
}

.similar {
    width: 33%;
    padding: 6px;
    flex-wrap: wrap;
    justify-content: space-around;
    display: inline-block;
}

.similar div {
    display: inline-block;
}

.similar div img, .similar div p {
    display: inline-block;
}

.linea div p {
    color: #cdb900;
    font-family: Roboto-Medium;
}

.generos h3 {
    padding-right: 16px;
}

.informacion {
    padding: 20px;
}

.lista {
    padding: 10px;
}

.circulo {
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #cdb900;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.circulo p {
    color: #f3f3f3;
    font-family: Roboto-Bold;
}

.contenido1, .contenido2 {
    display: inline-block;
}

.contenido1 {
    width: 86%;
}

.button-ios {
    position: absolute;
    border-radius: 50%;
    margin: 8px;
    width: 2.8em;
    background-color: rgba(0,0,0,0.6);
}

.btnderecho {
    float: right;
    left: 300px;
}

.informacion hr {
    border: 1px solid #ebeef0;
}

.linea {
    padding: 16px 0 4px 0;
    border-bottom: 1.4px solid #3c444b;
}

.linea div {
    float: right;
}

.linea p {
    padding-right: 4px;
}

.linea div, .linea div p, .linea div h3, .linea h3 {
    display: inline-block;
}

.linea div ion-icon, .titulo h3 {
    color: #cdb900;
}

.col {
    padding: 0;
    display: inline-block;
}

.fixed-content, .toolbar-background, .tabs-ios .tabbar {
    background-color: #1b2128;
}

.swiper-pagination-bullet-active {
    background: #E1E5E5;
}

.swiper-pagination-bullet {
    background: #3c444b;
}

.tabs-ios .tabbar, .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-color: #cdb900;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default , .tabs-ios .tab-button-icon, .tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: #cdb900;
}

.swiper-pagination-bullet:nth-child(0) {
    background: #ffffff;
}

#playing p {
    z-index: 2;
    color: #f3f3f3;
    padding: 12px;
    position: absolute;
    font-family: Roboto-Medium;
}

#playing img {
    top: -100px;
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    position: relative;
}

.nowplaying {
    width: 100%;
    height: 45px;
    z-index: 2;
    position: absolute;
    background-color: rgba(27,33,40,0.6);
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
}