<ion-header>
 <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{film.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="circulo">
        <p>{{film.vote_average}}</p>
    </div>
    <div class="cabecera" [style.background-image]="'url(' + photo + ')'"></div>
    <div class="informacion">
        <!--<div class="contenido1">-->
            <div class="titulo">
                <h2>{{film.title}}</h2>
                <h3>{{votes.Year}}</h3>
            </div>
        
            <div class="datos">
                <div class="tiempo">
                    <ion-icon name="ios-clock-outline"></ion-icon>
                    <p>{{votes.Runtime}}</p>
                </div>
                <div class="generos">
                    <div *ngFor="let genre of film.genres; let i = index">
                        <div *ngIf="i < 4" class="genero">
                            <p>{{genre.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        <!--</div>-->
        <!--<div class="contenido2">
            <div class="circulo">
                <p>{{film.vote_average}}</p>
            </div>
        </div>-->
        
        <div class="linea">
            <h3>Storyline</h3>
        </div>
        <div class="sipnosis">
            <p>{{film.overview}}</p>
        </div>
        
        <div class="linea">
            <h3>Trailer</h3>
        </div>
        <iframe frameborder="0" [src]="sanitizer.bypassSecurityTrustResourceUrl(videoUrl)" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        
        <div class="linea">
            <h3>About Film</h3>
        </div>
        <div class="sipnosis">
            <div>
                <div class="contenido3">
                    <p>Actors:</p>
                </div>
                <div class="contenido4">
                    <p>{{votes.Actors}}.</p>
                </div>
            </div>
            <div>
                <div class="contenido3">
                    <p>Director:</p>
                </div>
                <div class="contenido4">
                    <p>{{votes.Director}}.</p>
                </div>
            </div>
            <div>
                <div class="contenido3">
                    <p>Production:</p>
                </div>
                <div class="contenido4">
                    <p>{{votes.Production}}.</p>
                </div>
            </div>
            <div>
                <div class="contenido3">
                    <p>Released:</p>
                </div>
                <div class="contenido4">
                    <p>{{votes.Released}}.</p>
                </div>
            </div>
            <div>
                <div class="contenido3">
                    <p>Runtime:</p>
                </div>
                <div class="contenido4">
                    <p>{{votes.Runtime}}.</p>
                </div>
            </div>
            <div>
                <div class="contenido3">
                    <p>Genres:</p>
                </div>
                <div class="contenido4">
                    <p>{{votes.Genre}}.</p>
                </div>
            </div>
            <div>
                <div class="contenido3">
                    <p>Country:</p>
                </div>
                <div class="contenido4">
                    <p>{{votes.Country}}.</p>
                </div>
            </div>
            <div>
                <div class="contenido3">
                    <p>Awards:</p>
                </div>
                <div class="contenido4">
                    <p>{{votes.Awards}}</p>
                </div>
            </div>
        </div>
        
        <div class="linea">
            <h3>You may also like</h3>
        </div>
        <ion-slides spaceBetween="3" pager>
            <ion-slide>
                <div class="similar" *ngFor="let similar of similarFilms; let i = index">
                <div *ngIf="i < 3">
                    <img (click)="goToFicha(similar.id, similar.imdb_id)" src={{similar.poster_path}}>
                </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="similar" *ngFor="let similar of similarFilms | slice:3:6 ; let i = index">
                <div *ngIf="i < 6">
                    <img (click)="goToFicha(similar.id, similar.imdb_id)" src={{similar.poster_path}}>
                </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="similar" *ngFor="let similar of similarFilms | slice:6:9 ; let i = index">
                <div *ngIf="i < 9">
                    <img (click)="goToFicha(similar.id, similar.imdb_id)" src={{similar.poster_path}}>
                </div>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
