<!--<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Generos</ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content>
    <div class="listagenero">
        <div *ngFor="let genre of genreFilms">
            <h1 (click)="goToListaPelis(genre.id)">{{genre.name}}</h1>
        </div>
    </div>
    <div *ngFor="let photo of photos">
        <div class="cabecera" [style.background-image]="'url(' + photo.photo + ')'"></div>
    </div>
</ion-content>

